Flask==1.1.2
Flask-MySQL==1.5.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
iexfinance==0.4.3
ImageHash==4.1.0
importlib-metadata==1.6.0
importlib-resources==1.5.0
mpl-finance==0.10.1
mplfinance==0.12.3a3
mysql-connector-python==8.0.20
numpy==1.17.0
pandas==0.18.1
plotly==4.6.0
PyMySQL==0.9.3
scikit-learn==0.23.1
scipy==1.4.1
TA-Lib==0.4.18

